body {
  text-align: center;
  background-color: #696969;
}


.icones{
  border:none;
  background: none;
}

.iconesall{
  padding: 12px 6px 6px 6px;
}

#son{
  display: inline-block;
}

#barre_son{
  position: absolute;
  display: none;
}

#son:hover #barre_son{
  display: block;
}

#langues{
  position:absolute;
}

.modes{
  padding:6px 0 6px 0;
  margin: 12px 0 6px 0;
	font:Bold 20px Arial;
	background:#FF4500;
	color:#fff;
	width: 30vw;
  height: 10vh;
	border:none;
}

.modes:hover{
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.modes_loc{
  display: inline-block;
  padding:6px 0 6px 0;
  margin: 12px 25px 6px 25px;
	font:Bold 20px Arial;
	background:#FF4500;
	color:#fff;
	width: 20vw;
  height: 60vh;
}

.modes_loc:hover{
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.modes_bout{
  padding: 12px 0 24px 0;
  display: block;
	font:Bold 20px Arial;
	background:#FF4500;
	color:#fff;
  width: auto;
  border: none;
	border-bottom: black solid 1px;
}

.modes_bout:hover{
  text-decoration:none;
  color: inherit;
  cursor: pointer;
}

#logo{
  height:auto;
  width: 50vw;
}

.equipe{
  display: inline-block;
  padding:6px 0 6px 0;
  margin: 12px 12px 6px 12px;
	color:#fff;
	width: 25vw;
  height: 48vh;
}

.form{
  font:Bold 13px Arial;
}

#eq1{
  padding: 6px 0 6px 0;
  font:Bold 20px Arial;
  background: #4d94ff;
}

#eq2{
  padding: 6px 0 6px 0;
  font:Bold 20px Arial;
  background: #ff751a;
}

.box_tour{
  background: #4d94ff;
  margin: 6px 0 6px 6px;
  padding: 10px 0 6px 0;
  border-radius: 10px;
}

.choix_ME{
  margin: 6px 0 6px 6px;
  padding: 6px 0 6px 20px;
}

.carte{
  border: black 2px solid;
  height: 15vh;
  width: 15vw;
}

#sablier{
  transform: rotate(90deg) translate(20vh);
}

.table{
  height: 90vh;
}

.colonne{
}

@media (max-width: 768px) {
  .modes{
    margin: 0 0 0 0;
    width: 100vw;
    height: 20vh;
    border-bottom: 1px black solid;
  }
  .modes_loc{
    margin: 0 0 0 0;
    width: 100vw;
    height: 20vh;
    border-bottom: 1px black solid;
  }
  .equipe{
    display: block;
    padding:6px 0 6px 0;
    margin: 0 0 20px 0;
    width: 100vw;
    height: auto;
  }
  #logo{
    height:auto;
    width: 100vw;
  }

}
