body {
  text-align: center;
  background-color: #696969;
}

header{
  float: right;
  position: absolute;
  left: 82vw;
}

.icones{
  border:none;
  background: none;
}

#son{
  display: inline-block;
}

#barre_son{
  position: absolute;
  display: none;
}

#son:hover #barre_son{
  display: block;
}

#langues{
  display: none;
}

.modes{
  padding:6px 0 6px 0;
  margin: 12px 0 6px 0;
	font:Bold 13px Arial;
	background:#FF4500;
	color:#fff;
	width: 30vw;
  height: 10vh;
	border:none;
  font-size: 20px;
}

.modes:hover{
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.modes_loc{
  display: inline-block;
  padding:6px 0 6px 0;
  margin: 12px 25px 6px 25px;
	font:Bold 20px Arial;
	background:#FF4500;
	color:#fff;
	width: 20vw;
  height: 60vh;
}

.modes_loc:hover{
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.modes_bout{
  padding: 12px 0 24px 0;
  display: block;
	font:Bold 20px Arial;
	background:#FF4500;
	color:#fff;
  width: auto;
  border: none;
	border-bottom: black solid 1px;
}

.modes_bout:hover{
  text-decoration:none;
  color: inherit;
  cursor: pointer;
}

#logo{
  height:auto;
  width: 50vw;
}

.equipe{
  display: inline-block;
  padding:6px 0 6px 0;
  margin: 12px 12px 6px 12px;
	color:#fff;
	width: 25vw;
  height: 35vh;
}

.form{
  font:Bold 13px Arial;
}

#eq1{
  padding: 6px 0 6px 0;
  font:Bold 20px Arial;
  background: blue;
}

#eq2{
  padding: 6px 0 6px 0;
  font:Bold 20px Arial;
  background: red;
}

@media (max-width: 768px) {
  .modes{
    margin: 0 0 0 0;
    width: 100vw;
    height: 20vh;
    border-bottom: 1px black solid;
  }
  .modes_loc{
    margin: 0 0 0 0;
    width: 100vw;
    height: 20vh;
    border-bottom: 1px black solid;
  }
  #logo{
    height:auto;
    width: 100vw;
  }
  header{
    float: none;
    position: relative;
    left: 0vw;
  }
}
